.section
  %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :valign => :top }
        .label.req.top Summary:
        = f.text_field :summary, :style => "width:500px"

  %table{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :valign => :top }
        .label
          Account
          %span#account_selector
        - fields_for(@account) do |a|
          = a.hidden_field :user_id
          = a.hidden_field :access
          = a.hidden_field :assigned_to
          = collection_select :account, :id, @accounts, :id, :name, { :selected => @account.id || 0 }, { :style => "width:330px;display:none;" }
          = a.text_field :name, :style => "width:324px;display:none;"
        %td= spacer
      %td{ :valign => :top }
        .label Bug ticket:
        = f.text_field :bug_ticket, :style => "width:160px"

    %tr
      %td{:valign => :top}
        .label Priority
        = f.select :priority, [ "low", "minor", "major", "critical" ], { :selected => @issue.priority ? @issue.priority.to_s : "low" }, { :style => "width:324px" }
      %td= spacer
      %td{ :valign => :top }
        .label Due date:
        = f.text_field :due_on, :value => f.object.due_on ? f.object.due_on.to_s(:mmddyyyy) : "", :style => "width:160px", :autocomplete => :off
