- content_for :javascript do
  = render :file => "issues/crm_issues.js"

= render :partial => 'issue_styles'

.title_tools
  = link_to_inline(:create_issue, new_issue_path)

.title
  %span#create_issue_title Issues
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_issue{ hidden }

#resolve_bug{ show_resolve_bug? }
  = render :partial => "resolve_bug"

.list#issues
  - if @issues.blank?
    = render :partial => "common/empty"
  - else
    = render :partial => "issue", :collection => @issues

#paginate= render :partial => "common/paginate"
